.lineas{
    width: 1517px;
    height: 300px;
    opacity: 70%;
    margin-top: -130px;
    margin-left: -11px;
}
body{
    background-image: url("fondopagina.png");
    background-repeat: no-repeat;
     background-size:1100px;
    background-position: right;
    background-position-y: 100px;
    background-position-x: 600px;
    margin-top: 10px;
    

}
 
    .inicioindex{
        font-family: verdana;
        font-size: x-large;
        margin-left: 10px;
        margin-top: -5px;
}
.titulo1{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-size:xx-large;
    margin-left: 100px;
    margin-bottom: 100px; 
    font-weight: bold;
    text-decoration: underline;
}
.titulo2{
    display: flex;
    justify-content: left;
    margin-top: 150px;
    font-family: 'Times New Roman', Times, serif;
    font-size:xx-large;
    margin-left: 100px;
    margin-bottom: 50px;
    font-style: italic;
}
.parrafo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:x-large;
    margin-left: 100px;
    
}
.fondoparrafo{
    width: 740px;
    height: 290px;
    margin-top: -890px;
    opacity: 0.5;
    margin-left: 60px;
    border-radius: 50px;
}
.robothardware{
    width: 300px;
    height: 230px;
    margin-left:  4px;
    margin-top: 300px;
    display: flex;
    margin-bottom: -300px;
}
.robotsoftware{
    width: 350px;
    height: 249px;
    margin-left:  400px;
    margin-top: 50px;
    display: flex;
    margin-bottom: -300px;
}
.robotdatos{
    width: 400px;
    height: 260px;
    margin-left:790px;
    margin-top: 40px;
    display: flex;
}
.graffitihardware{
    width: 250px;
    height: 30px;
    margin-left:  10px;
    margin-top: 20px;
    display: flex;
}
.graffitisoftware{
    width: 290px;
    height: 34px;
    margin-left: 420px;
    margin-top: -32px;
    display: flex;
    margin-bottom: -300px;
}
.graffitidatos{
    width: 300px;
    height: 28px;
    margin-left:839px;
    margin-top: 268px;
    display: flex;
}
.cursor{
    width: 40px;
    height: 40px;
    margin-left:230px;
    margin-top: -60px;
    display: flex;
}
.piedepagina{
    width: 1517px;
    height: 300px;
    margin-top: 600px;
}
.textopie{
    margin-top: -200px;
    margin-left: 400px;
    font-size: xx-large;
    font-size: 100px;  
}
.iniciohardware{
    font-family: verdana;
    font-size: x-large;
    margin-left: 10px;
    margin-top: -5px;
}
.fondoparrafohardware{
    width: 740px;
    height: 300px;
    margin-top: -800px;
    opacity: 0.5;
    margin-left: 60px;
    border-radius: 20px;
}
.video1{
    width: 600px;
    height: 300px;
    margin-left: 890px;
    margin-top: -310px;
    margin-bottom: 80px;
    border-radius: 20px;
}
.logohardware{
    width: 600px;
    height: 600px;
    margin-left:630px;
    margin-top: -240px;
    display: flex;
}
.titulocomponentes{
    display: flex;
    justify-content: left;
    margin-top: -10px;
    font-family: 'Times New Roman', Times, serif;
    font-size:xx-large;
    margin-left: 100px;
  
}
.partes{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:x-large;
    margin-left: 100px;
}
.iniciopioneros{
    font-family: verdana;
    font-size: x-large;
    margin-left: 10px;
    margin-top: -5px;
}
.carousel {
    width: 100%;
    max-width: 900px;
    margin: 20px auto;
    overflow: hidden;
    position: relative;
    margin-top: 50px;
}
.carousel-inner {
    display: flex;
    width: 200%;
    animation: slide 30s infinite;
}
.carousel-item {
    flex: 0 0 10%;
    display: flex;
    flex
    justify-content: center;
}
.carousel-item img {
    width: 100%;
    height: auto;
    display: block;
}
@keyframes slide {
    0% { transform: translateX(0); }
    10% { transform: translateX(0); }
    20% { transform: translateX(-10%); }
    30% { transform: translateX(-10%); }
    40% { transform: translateX(-20%); }
    50% { transform: translateX(-20%); }
    60% { transform: translateX(-30%); }
    70% { transform: translateX(-30%); }
    80% { transform: translateX(-40%); }
    90% { transform: translateX(-40%); }
    100% { transform: translateX(-50%); }
}
.robotizquierdo{
    width: 300px;
    height: 230px;
    margin-left:  4px;
    margin-top: 200px;
    display: flex;
    margin-bottom: -300px; 
}
.robotderecho{
    width: 300px;
    height: 250px;
    margin-left:  1170px;
    margin-top: -240px;
    display: flex;
    margin-bottom: -300px;
}
.tituloalan{
    display: flex;
    justify-content: left;
    margin-top: 490px;
    font-family: 'Times New Roman', Times, serif;
    font-size:xx-large;
    margin-left: 100px;
    margin-bottom: 50px; 
    font-style: italic;
}
.fondoparrafoalanturing{
    width: 850px;
    height: 600px;
    margin-top: -750px;
    opacity: 0.5;
    margin-left: 50px;
    border-radius: 30px;
}
.tituloargumento{
    display: flex;
    justify-content: left;
    margin-top: 100px;
    font-family: 'Times New Roman', Times, serif;
    font-size:xx-large;
    margin-left: 100px;
    margin-bottom: 50px; 
    font-style: italic;
}
.parrafoargumento{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:x-large;
    margin-left: 100px;  
}
.fondoparrafoargumento{
    width: 990px;
    height: 360px;
    margin-top: -920px;
    opacity: 0.5;
    margin-left: 40px;
    border-radius: 30px;
}
.alanturing1{
    width: 500px;
    height: 400px;
    margin-left: 990px;
    margin-top: -1000px;
    display: flex;
    margin-bottom: 300px;
}
.alanturing2{
    width: 100px;
    height: 858x;
    margin-left: 520px;
    margin-top: -720px;
    display: flex;
    margin-bottom: -300px;
}

.alanturing4{
    width: 450px;
    height: 500px;
    margin-left:  1030px;
    margin-top: 720px;
    display: flex;
}
.piedepaginapioneros{
    width: 1517px;
    height: 300px;
    margin-top: 100px; 
}
.iniciogit{
    font-family: verdana;
    font-size: x-large;
    margin-left: 10px;
    margin-top: -20px;
}
.menugit{
    border-collapse: collapse;
    width: 100%;
    ;
}

.menugit th {
    padding: 10px 20px;
    text-align: left;
    background-color: aqua;
}

.menugit th a {
    text-decoration: none;
    color: black;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.titulotutorialgit{
    display: flex;
    justify-content: left;
    margin-top: 200px;
    font-family: 'Times New Roman', Times, serif;
    font-size:xx-large;
    margin-left: 100px;
    margin-bottom: 50px; 
    font-style: italic;
}
.fondoparrafogit1{
    width: 585px;
    height: 370px;
    margin-top: -355px;
    opacity: 0.5;
    margin-left: 60px
}
.parrafo2{
    margin-left: 550px;
    margin-top: -100px;
    font-family: verdana;
    
    
    
}
.fondoparrafogit2{
    width: 550px;
    height: 270px;
    margin-top: -490px;
    opacity: 0.5;
    margin-left: 610px
}
.gitcommandos{
    display: flex;
    justify-content: center;
    margin-top: 200px;
    font-family: 'Times New Roman', Times, serif;
    font-size:xx-large;
    margin-left: 100px;
    margin-bottom: 100px; 
    text-decoration: underline;

}
.despegablegit{
    margin-top: -900px;
    font-style: italic;
}
.comandos li{
    display: flex;
    justify-content: left;
    margin-top: 100px;
    font-family: 'Times New Roman', Times, serif;
    font-size:xx-large;
    margin-left: 100px;
    margin-bottom: 50px; 
}
.comando p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:x-large;
    margin-left: 100px;
    
}
label {
    font-size: 16px;
    font-weight: bold;
    color: #555;
    display: block;
    margin-bottom: 10px;
}
select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    transition: all 0.3s ease;
}
select:hover,
select:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0px 2px 6px rgba(0, 123, 255, 0.3);
}

.mosaico {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
    margin-top: 100px;
}

.imagen {
    text-align: center;
    cursor: pointer;
}

.imagen img {
    width: 200px;
    height: 200px;
    transition: transform 0.2s;
}

.imagen img:hover {
    transform: scale(1.50);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #555;
}

.modal-content {
    position: relative;
    margin: auto;
    display: block;
    width: 1450px;
    height: 700px;
    top: 360px;
    transform: translateY(-50%);
    margin-left: 10px;
}

.close {
    position: absolute;
    top: -10px;
    right:9px;
    color: rgb(0, 0, 0);
    font-size: 70px;
    cursor: pointer;
}
.parrafogit3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    margin-left: 10px;
    margin-top: -120px;
}
.piedepaginagit{
    width: 1517px;
    height: 300px;
    margin-top:200px;
}
 Nueva_Entrada_Natalia

.RichardStallman{
   width: 200px;
   height: 300px; 
   margin-left: 400px;
}

.fondoimagen1{
    width: 400px;
    height: 350px;
    margin-left:  -50px;
    margin-top: -280px;
    display: flex;
    margin-bottom: -300px;
}
.fondoimagen2{
    width: 450px;
    height: 370px;
    margin-left:  370px;
    margin-top: -380px;
    display: flex;
    margin-bottom: -300px;
}
.fondoimagen3{
    width: 400px;
    height: 400px;
    margin-left:  830px;
    margin-top: -350px;
    display: flex;
    margin-bottom: -500px;
}
.titulorichard{
    margin-top: 100px;
    margin-left: 100px;
}
.parrafostallman{
    margin-left: 100px;
}
.fondoparrafostallman{
    margin-top: -550px;
    height: 599px;
    margin-left: 40px;
    opacity: 0.3;
    border-radius: 40px;

}
